<!-- SECCIÓN 01 -->

<div class="bgsection04">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-6 order-2 order-sm-2">

                <div class="mt-5 mx-auto">

                    <img src="./../../../../assets/img/ikki.png" class="img-fluid d-block mx-auto" />

                </div>

            </div>

            <div class="col-12 col-sm-6 order-1 order-sm-1 text-white">

                <div class="my-4">

                    <h1 class="display-3 mb-4 text-center font03"> ABOUT </h1>

                    <p class="font01 text-justify font01" style="font-size: small;">
                        This website built with angular technology, mainly corresponds to a final project for the approval and certification of the course taught by escalab, corresponding to Angular 8.
                        <br><br> The final project of the course will be free knowledge, where students can carry out an idea of interest, based on the knowledge acquired throughout the course.
                    </p>

                    <p class="text-center mt-4"><strong class="font-weight-bold text-white lead text-warning "><u class="font03">INSTRUCTIONS
                    </u></strong></p>

                    <ul class="list-group text-dark mt-4 border-warning font01" style="font-size: small;">
                        <li class="list-group-item bg-transparent text-white border-warning">- The project will be evaluated based on a guideline initially defined by the instructor and communicated in advance for the students.</li>
                        <li class="list-group-item bg-transparent text-white border-warning">- The student will have a maximum month for the development and delivery on Github of their final project.</li>
                        <li class="list-group-item bg-transparent text-white border-warning">- Instructor assistance during the execution and development of the project by Slack and Email.</li>
                        <li class="list-group-item bg-transparent text-white border-warning">- The project is delivered in a Github repository to be evaluated and subsequently certified.</li>
                        <li class="list-group-item bg-transparent text-white border-warning">- The student must meet a minimum of 75% attendance to pass the course.</li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- FIN SECCIÓN -->