<!-- SEPARADORES -->
<div class="py-2 bgcolor03 shadow-lg" ID="IDSECCION_QUIENSOMOS"></div>
<!-- SEPARADORES -->

<!-- FOOOTER -->

<div class="bgcolor02">

    <div class="container-fluid">

        <div class="row justify-content-md-center">

            <div class="col-4 d-inline-flex mt-4">

                <div class="mb-4 mt-2"> <img src="./../../../../assets/img/angular.png" class="img-fluid mx-auto d-inline-block" /> </div>
                <div class="mb-4 mt-2"> <img src="./../../../../assets/img/logo2.png" class="img-fluid mx-auto d-inline-block pl-5" /> </div>
                <div class="mb-4 mt-2"> <img src="./../../../../assets/img/scalab.png" class="img-fluid mx-auto d-inline-block pl-5" /> </div>

            </div>

        </div>

        <div class="row">

            <div class="col-12 text-center my-2 w-75 mx-auto text-white">

                <p class="text-center lead " style="font-size: small;">
                    Copyright 2020. All rights reserved.
                </p>

                <p class="text-center font02 " style="font-size: small;">
                    Design and Developed by EUP
                </p>



            </div>

        </div>

    </div>
</div>


<!-- FIN FOOTER-->