<div class="bgsection01 d-flex justify-content-center  align-items-center pt-5">

    <div class="container-fluid ">
        <div class="row  ">
            <div class="col-12 col-sm-8 mt-5 pt-3">

                <!--  
                <h1 class="text-white font02  display-4 mt-1"> SALUD Y FORMA A TU VIDA</h1>

                <p class="font01 text-white lead">
                    ¡ Ven y atrévete a entrenar con gente profesional en un ambiente extraordinario para vivenciar el bienestar físico y emocional ¡
                </p>
                -->

            </div>
        </div>
    </div>

</div>

<!-- SEPARADORES -->
<div class="py-2 bgcolor03 shadow-lg" ID="IDSECCION_QUIENSOMOS"></div>
<!-- SEPARADORES -->

<!-- SECCIÓN 01 -->

<div class="bgsection04">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-6 order-2 order-sm-1">

                <div class="mt-5 mx-auto">

                    <img src="./../../../../assets/img/saga.png" class="img-fluid d-block mx-auto" />
                    <!-- SEPARADORES -->
                    <div class="py-1 bgcolor03 shadow-lg rounded-right" ID="IDSECCION_QUIENSOMOS"></div>
                    <!-- SEPARADORES -->

                </div>

            </div>

            <div class="col-12 col-sm-6 order-1 order-sm-2 text-white">

                <div class="my-4">

                    <h1 class="display-3 mb-4 text-center font03"> SAINT SEIYA </h1>

                    <p class="font01 text-justify font01" style="font-size: small;">

                        715/5000 Saint Seiya (聖 闘 士 星矢 Seinto Seiya), literally in Spanish Seiya El Santo and known as The Knights of the Zodiac, is a manga series written and illustrated by Masami Kurumada. It was published since December 3, 1985 in the magazine Shūkan Shōnen
                        Jump from the Shūeisha publishing house until December 12, 1990 in V Jump magazine. 9 It was later adapted into a 114-episode animated series (anime), a 31-episode OVA and a 13-episode ONA, in total 158. Five animated films and
                        one CG animated film have also been produced, in addition to several official prequels and sequels to the original story.

                        <br><br> 108 chapters of the manga were published along with a special edition, making a total of 109 in tankoubon format, divided into 28 volumes with three main sagas (story arcs): Sanctuary, Poseidon and Hades. It has been reprinted
                        and reissued in Wideban, Bunkoban and Kanzenban formats and also the so-called "Remix", the production in three editions (2002, 2007 and 2012).

                        <br><br> After the anime adaptation, two more series have been produced: the manga titled Saint Seiya Lost Canvas by TMS Entertainment and Saint Seiya Omega by Toei Animation. Contrary to Saint Seiya Lost Canvas, Saint Seiya Omega
                        was animated and it was not until after an adaptation to the manga was made, although curiously both series are spin-offs. A third anime produced by Toei Animation, Saint Seiya Soul of Gold whose broadcast began on April 11, 2015,
                        the series recounts the events after the destruction of the Wailing Wall, where Aioria de Leo is the protagonist and wakes up in the middle of Asgard along with the other golden knights. At present Saint Seiya is still in force
                        with the Saint Seiya Next Dimension manga, the official continuation of the series whose animated version has been confirmed for the future, and with Saint Seiya Saintia Sho. Manga currently posted on Akita Shoten drawn by Chimaki
                        Kuori.

                    </p>


                </div>

            </div>

        </div>

    </div>

</div>

<!-- FIN SECCIÓN -->





<!-- SECCIÓN 02 -->

<div class="bgsection05">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-sm-6 order-1 order-sm-1 text-white">

                <div class="my-4">

                    <h1 class="display-3 mb-4 text-center font03"> THE SERIE </h1>

                    <p class="font01 text-justify font01" style="font-size: small;">

                        The series focuses on a group of young warriors called "knights" (or "saints"), whose main protagonist is Seiya (knight wearing Pegasus armor). These warriors fight on the side of the Greek goddess Athena reincarnated in the human Saori Kido to protect
                        humanity from the evil forces that want to dominate Earth. For their battles, each knight uses her inner energy bound to the universe (the "cosmos"), her special fighting techniques, and her. armor (originally called cloth), all
                        inspired by each of the 88 constellations.

                        <br><br> Both the original manga and the anime adaptation had great success in Japan, as well as in European countries such as France, Italy, Spain, Portugal, and in most Latin American countries. However, the anime It was not
                        translated into English until her arrival in the United States in 2003.

                        <br><br> In 2016, for the thirtieth anniversary of the classic Saint Seiya manga by Masami Kurumada, a commemorative exhibition was held in Japan with many products related to the classic Saint Seiya manga (Masami Kurumada) and
                        the classic Saint Seiya anime (Toei Animation). This great commemorative exhibition was also held in China in Hong Kong. 15


                    </p>


                </div>

            </div>

            <div class="col-12 col-sm-6 order-2 order-sm-2">

                <div class="mt-5 mx-auto">

                    <img src="./../../../../assets/img/seiya.png" class="img-fluid d-block mx-auto" />

                    <!-- SEPARADORES -->
                    <div class="py-1 bgcolor05 shadow-lg rounded-left" ID="IDSECCION_QUIENSOMOS"></div>
                    <!-- SEPARADORES -->
                    <!--  -->

                </div>

            </div>



        </div>

    </div>

</div>

<!-- FIN SECCIÓN -->



<!-- SECCIÓN 04 -->

<div class="bgsection04">

    <div class="container-fluid">

        <div class="row">


            <div class="col-12 col-sm-6">

                <div class="mt-5 mx-auto">

                    <img src="./../../../../assets/img/aioria.png" class="img-fluid mx-auto d-block" />

                    <!-- SEPARADORES -->
                    <div class="py-1 bgcolor03 shadow-lg rounded-right" ID="IDSECCION_QUIENSOMOS"></div>
                    <!-- SEPARADORES -->


                </div>

            </div>

            <div class="col-12 col-sm-6 my-3 my-sm-0">

                <div class=" mx-auto mt-3 text-white">

                    <h1 class="display-4 text-center mb-5 font03">MAIN CHARACTERS</h1>

                    <div class="text-justify font01" style="font-size: small;">

                        <p>
                            The story of Saint Seiya tells us the efforts of five young men, fatherless and mother (father's brothers in the original Manga), whose destiny leads them to be protectors of the goddess Athena, and how their great sense of friendship and loyalty leads
                            them to perform incredible feats.

                        </p>
                    </div>

                    <div class="row mb-3">

                        <div class="col-12 col-sm-5 mb-4 mb-sm-0">
                            <div class="list-group bg-transparent font03" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action border-warning bg-transparent active " id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="seiya"><strong>Pegasus Seiya</strong></a>
                                <a class="list-group-item list-group-item-action border-warning bg-transparent" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><strong>Dragon Shiryu</strong></a>
                                <a class="list-group-item list-group-item-action border-warning bg-transparent" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><strong>Swan Hyoga</strong></a>
                                <a class="list-group-item list-group-item-action border-warning bg-transparent" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings"><strong>Andromeda Shun</strong></a>
                                <a class="list-group-item list-group-item-action border-warning bg-transparent" id="list-Ikki-list" data-toggle="list" href="#list-Ikki" role="tab" aria-controls="Ikki"><strong>Phoenix Ikki</strong> </a>

                            </div>
                        </div>

                        <div class="col-12 col-sm-7 font01">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                    <p class="text-justify" style="font-size: small;">
                                        He is the most temperamental of all, stubborn, impulsive, reckless and foolish at times, but his character always pushes him forward. His known attacks are the Pegasus Meteor (Pegasus Ryu Sei Ken), the Pegasus Comet (Pegasus Sui Sei Ken) and the Pegasus
                                        Rolling Crash.
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                    <p class="text-justify" style="font-size: small;">
                                        He sees in his martial arts teacher the father he never had, he is willing to die without thinking twice, in order to protect the lives of his companions. His base attack is the Wrath of the Dragon, the Rozan Rising Dragon (Rozan Sho Ryu Ha), the Dragon
                                        Rozan Flyer (Rozan Ryu Hisho) and his most powerful base attack is Rozan's Last Dragon (Rozan Kou Ryu Ha). In the Sanctuary Saga, when Capricorn Shura and Shiryu are about to turn to dust of stars, Shura saves his
                                        life by giving him his armor and making him heir to his Excalibur technique. Later in the Hades Saga he learned his last technique from his master: the hundred dragons of Rozan (Rozan Hyaku Ryu Ha).
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                    <p class="text-justify" style="font-size: small;">
                                        He appears cold, yet he cannot forget the memory of his dead mother. Her attacks are the Diamond Dust, the Aurora Thunder Attack (in the manga called Kholodnyi Smerch) and the Execution of the Aurora. (Aurora Execution) with which he defeats Camus of
                                        Aquarius, -his master in the manga-. In the Anime it turned out to be Crystal, silver saint disciple in turn of Camus.
                                    </p>
                                </div>

                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                    <p class="text-justify" style="font-size: small;">
                                        He appears to be the weakest, however when he sees that his surroundings or his friends are affected, he is able to externalize the great power he possesses. His armor has the Andromeda Chain, which he uses in his attacks: Nebular Chain (Nebula Chain)
                                        an attack / defense technique that kicks the enemy into the slightest attack, Thunder Wave and when it loses its chains it also manages the Nebula Storm. It is one of the few armors Bronze Containing Weapons: The
                                        Circular Pointed Chain For Defense, The Rolling Defense And The Triangular Pointed Chain For Attack.
                                    </p>

                                </div>

                                <div class="tab-pane fade" id="list-Ikki" role="tabpanel" aria-labelledby="list-Ikki-list">
                                    <p class="text-justify" style="font-size: small;">
                                        Shun's older brother, is shown as the strongest of all and is capable of destroying his opponents without remorse. However, he also hides deep in his being the feeling of goodness and justice. A well-known attack is the Phantom Fist of the Phoenix with
                                        which you can create optical illusions to your enemies, The Devilish Illusion of the Phoenix (Phoenix Genma Ken) and The Flight of the Phoenix (Hou Yoku Ten Sho). The Phoenix stands out for appearing after all Knights
                                        are on the verge of defeat. She has the ability to go back and forth from death as she pleases, and her armor is the only one of all that can rebuild itself: The Phoenix is reborn from its ashes.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

    </div>

</div>

<!-- FIN SECCIÓN -->



<!-- SECCIÓN 03 -->

<div class="bgsection04 text-white">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="my-4 w-100 mx-auto">

                    <h1 class="display-3 text-center text-sm-left font03">THE 12 HOUSES</h1>

                </div>

            </div>

        </div>


        <div class="row">

            <div class="col-12 col-sm-4 my-2 mb-sm-2 font01">

                <div class="my-4">

                    <p class="lead text-justify" style="font-size: small;">
                        The battle begins when the knights and Athena are looking for the Patriarch since Saori announced that they would soon go to the Sanctuary to see him. A hooded figure appears and guides them to where the Patriarch is; explains that they must go through
                        the 12 houses of the Zodiac to be able to see it (which nobody has achieved). Suddenly, this person reveals himself as Ptolemy of the Arrow, and prevents them from continuing, saying that he will not let them even reach Aries,
                        the first House. Ptolemy attacks them with arrows, but Seiya is able to take him down easily with his meteor attack. Everything seems to have gone well; however, they realize that Athena was wounded with a golden arrow to her chest.
                        Ptolemy He tells them that the only one who can withdraw the arrow is the Patriarch and when the arrow was stuck, a twelve-hour cycle began that at the end of the arrow would pierce his heart completely and they only have that
                        time to pierce the 12 houses.
                    </p>

                    <p class="lead text-justify" style="font-size: small;">
                        At the end of the long battle, Athena returns to normality and decides to put things in order while Saga commits suicide with the scepter of Athena repentant of all his acts and makes the evil that caused the double personality disappear so that die like
                        the noble knight that she was, Athena cries apologizing to Seiya and the other knights for the suffering that they went through in the battle of the twelve houses.
                    </p>

                </div>

            </div>


            <div class="col-12 col-sm-8 my-3 ">
                <img src="./../../../../assets/img/12casas.jpg" class="img-fluid mx-auto d-block mb-3" />
                <!-- SEPARADORES -->
                <div class="py-1 bgcolor06 shadow-lg rounded-right" ID="IDSECCION_QUIENSOMOS"></div>
                <!-- SEPARADORES -->
            </div>

        </div>


    </div>

</div>

<!-- FIN SECCIÓN -->






<!-- SECCIÓN 03 -->

<div class="bgsection05">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="my-4 w-75 mx-auto text-white">

                    <h1 class="display-3 text-center font03">MUSICALS</h1>

                    <p class="my-3 text-justify  lead font01" style="font-size: small;">
                        In August 1991, under the patronage of Bandai, a Saint Seiya musical was performed at the Aoyama Theater in Tokyo, Japan. The story told the sagas of the Sanctuary and of Poseidon. The cast included SMAP members like the Five Bronze Saints and Poseidon.
                        The characters of Mu de Aries, Aioria de Leo and Milo de Scorpio were played by members of another band: Tokio.
                    </p>

                </div>

            </div>

        </div>


        <div class="row ">

            <div class="col-12 col-sm-12 my-2 my-sm-0 ">

                <div class="embed-responsive embed-responsive-21by9 mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/OqHXenFOpY4?start=149" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


            </div>

        </div>


    </div>

</div>

<!-- FIN SECCIÓN -->

<!-- SEPARADORES -->
<div class="py-1 bgcolor04 shadow-lg d-none d-sm-block" ID="IDSECCION_QUIENSOMOS"></div>
<!-- SEPARADORES -->


<!-- SECCIÓN 06 -->

<div class="bgsection05 d-none d-sm-block">

    <div class="container-fluid">

        <div class="row">

            <div class="col-12">

                <div class="my-4 w-75 mx-auto text-white">

                    <h1 class="display-3 text-center font03">IMAGE GALLERY</h1>

                </div>

            </div>

        </div>
        <!-- Segunda fila de imagenes -->
    </div>


    <div class="container-fluid">

        <div class="row ">

            <div class="mb-5 d-block mx-auto ">

                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

            </div>

        </div>

    </div>

</div>



<!-- FIN SECCIÓN -->